body{
  width: 100%;
  height: 100%;
}

.sky{
  display: flex;
  

}

#bg-sky{
  background-repeat: repeat-x;
  width: 50%;
  height: 50vh;
}

.earth{
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(230, 18, 104, 0.6), rgb(241, 18, 104));
  /* background: rgba(214, 18, 126, 0.9); */
}

.wrapper{
  position:relative;
  width: 100%;
  height: 100%;

}
#red-quen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}